	<!-- DISPLAY -->
				<div class="row">
					<div class="col-xs-12 text-center">
						<div id="video-border">
							<div class="pubnub-relative">
								<div id="video-self"></div>
							</div>
							<div id="video-display">
								<span class="glyphicon glyphicon-flash"></span>
							</div>
						</div>
						<div id="pubnub-relative">
							<div id="video-thumbnail"></div>
							<div id="pubnub-logo">
								<div id="pubnub-logo-img"></div>
							</div>
						</div>
					</div>
				</div>
